@model ResolutionTracker.ViewModels.ResolutionDetailModel

@{
    ViewData["Title"] = $"{Model.ResolutionTitle}";
}

<h1>@Model.ResolutionTitle</h1>
<div class="progress">
    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: @Model.PercentageCompletion%" aria-valuenow="{@Model.PercentageCompletion}" aria-valuemin="0" aria-valuemax="100">@Model.PercentageCompletion%</div>
</div>
<hr />
<div class="main-details">
    <p>@Model.ResolutionDescription</p>
    <p>@Model.ResolutionType</p>
    <p>Percentage left to complete by @Model.ResolutionDeadline: @Model.PercentageLeft%</p>
</div>